QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=brew_books
PDF_PATH=knowledge/pdfs
EMBEDDER_ID=./models/all-MiniLM-L6-v2
EMBEDDER_DIM=384
TOP_K=20
CHUNK_SIZE=2000
CHUNK_OVERLAP=300
NUM_DOCUMENTS=5
DENSE_VECTOR_NAME=dense
SPARSE_VECTOR_NAME=sparse
GOOGLE_API_KEY=